.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.commentWrapper > .children {
  margin-left: 20px;
  color: blue;
}

.open .children{
  visibility: visible;
}

.closed .children {
  visibility: hidden;
  max-height: 0px
}
.mainDiv {
  margin-left: 10%;
  margin-top: 10%
}

.comment {
  margin-bottom: 5px;
}

.expandCollapse {
  display: inline;
  margin-right: 5px
}

.delete {
  display: inline;
  color: grey
}