.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.commentWrapper > .children {
  margin-left: 20px;
  color: lightcoral;
}

.open .children{
  visibility: visible;
}

.closed .children {
  visibility: hidden;
  max-height: 0px
}
.mainDiv {
  margin-left: 7%;
  margin-top: 7%;
  margin-bottom: 10%
}

.comment {
  margin-bottom: 5px;
}

.expandCollapse {
  display: inline;
  width: 10px
}

.delete {
  display: inline;
  color: grey
}

div {
  font-family: 'Roboto';
}

.content {
  display: inline;
  font-weight: 300;
  margin-left: 5px
}

.expandCollapse {
  font-weight: 100;
}

.delete {
  font-weight: 100;
}

.title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 30px;
  color: lightcoral
  
}

.expandCollapseEmpty {
  margin-right: 5px;
  display: inline;
  color: white
}